/ = user_new_feature('results_surveys') do
/   h5 Getting Started: Surveys Report
/   a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
/   a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/XqfavQqDVwM?rel=0" data-width="640" data-height="360"
/     img src="#{image_path('video_arrow.png')}" width="70" height="70" /
/   .feature-description
/     p
/       'Click on the video to the left for a quick overview or check out our
/       a> href="http://support.brandscopic.com" target="_blank" support site
/       | for more in depth info.

- content_for :alerts
  div.collection-list-description
    .filter-label
    .filter-buttons
.sidebar#resource-filter-column
  #collection-list-filters

#main.main.with-details-close-bar
  = resource_details_bar("You are viewing Surveys report. Click to close.")
  .tab-content
    #list-view.tab-pane.active
      #list-tools.row-fluid
        .pull-right
          button.btn.download.xlsx-download-link data-url="#{results_surveys_path(format: :csv)}" title="Download" data-disable-with="..."
            span.icon-download
      #surveys-totals
      #surveys-list.resource-list

= render partial: 'help_tutorial'

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: 'results/surveys', action: :items)}',
    'filtersUrl': '#{filter_url(:events, apply_to: controller_name)}',
    'listContainer': '#surveys-list',
    'sorting': 'start_at',
    'sorting_dir': 'asc',
    'autoLoad': true,
    'includeCalendars': true,
    'selectDefaultDate': false,
    'ytdDatesRange': '#{current_company.ytd_dates_range}',
    'includeAutoComplete': true,
    'applyTo': '#{controller_name}',
    'userFilters': #{user_saved_filters(controller_name).to_json.html_safe},
    'autoCompletePath': '#{autocomplete_path(:events, format: :json)}',
    'defaultParams': '#{j default_params_for_view('status[]=Active')}',
    'emptyStateMessage': '#{j t("results_surveys.empty.line1", scope: :blank_states) }',
    'emptyStateMessageLine2': '#{j t("results_surveys.empty.line2", scope: :blank_states) }',
    'emptyFilterResultsMessage': '#{j t("results_surveys.filters.line1", default: :filters_line1, scope: :blank_states) }',
    'emptyFilterResultsMessageLine2': '#{j t("results_surveys.filters.line2", default: :filters_line2, scope: :blank_states) }',
    'emptyStateImage': '#{asset_path('blank-surveys.png')}',
    'onChange': function(filterBox){
      $(document).trigger('surveys-filter:changed')
    },
    'onItemsLoad': function(response, page){
      if (response.find('div[data-content="totals-results"]').length > 0){
        $('#surveys-totals').html(response.find('div[data-content="totals-results"]').html())
      }
    },
    'onItemsChange': function(response, page){
      if ($('#surveys-list .resource-item').length > 0) {
        $('#list-tools').show()
      } else {
        $('#list-tools').hide()
      }
    }
  });