- content_for :alerts
  div.collection-list-description
    .filter-label
    .filter-buttons
= user_new_feature('tasks_index') do
  h5 Getting Started: Tasks
  a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
  a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/eRUkbCUMkFE?rel=0" data-width="640" data-height="360"
    img src="#{image_path('video_arrow.png')}" width="70" height="70" /
  .feature-description
    p
      'Tasks allow you to assign activities to other users. In this section you can keep track of tasks that are assigned to both you and your team. Click on the video to the left for a quick overview or visit our
      a> href="http://support.brandscopic.com" target="_blank" support site
      | for more information about this section.

= render_navigation(renderer: :bootstrap, level: 2, skip_if_empty: true, nav_class: 'nav-tabs task-navigation')
.tab-content
  .tab-pane.active
    .sidebar.collapsed#resource-filter-column
      #collection-list-filters

    .main
      #list-view.tab-pane.active
        = render partial: 'table', locals: {source: url_for(action: :items, scope: params[:scope] )}

= render partial: 'help_tutorial'

javascript:
  $(document).on('tasks:change', function(){
    $('#collection-list-filters').filteredList('reloadData');
  });
