= user_new_feature('results_comments') do
  h5 Getting Started: Comments Report
  a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
  a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/m6aJrjlW8X8?rel=0" data-width="640" data-height="360"
    img src="#{image_path('video_arrow.png')}" width="70" height="70" /
  .feature-description
    p
      'Get to know your consumers - track what was said at your events by using the right sidebar filter to target specific events and campaigns. Click on the video to the left for a quick overview or check out our
      a> href="http://support.brandscopic.com" target="_blank" support site
      | for more in depth info.

- content_for :alerts
  div.collection-list-description
    .filter-label
    .filter-buttons
.sidebar#resource-filter-column
  #collection-list-filters

#main.main.with-details-close-bar
  = resource_details_bar("You are viewing Comments report. Click to close.")
  .tab-content
    #list-view.tab-pane.active
      #list-tools.row-fluid
        .pull-right
          button.btn.download.xlsx-download-link data-url="#{results_comments_path(format: :csv)}" title="Download" data-disable-with="..."
            span.icon-download
      #comment-list.resource-list.without-actions
        div.placeholder
          p Select any filter to see results

= render partial: 'help_tutorial'

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: 'results/comments', action: :items)}',
    'filtersUrl': '#{filter_url(:events, with_event_data_only: true, apply_to: :results_comments)}',
    'listContainer': '#comment-list',
    'sorting': 'start_at',
    'sorting_dir': 'asc',
    'autoLoad': true,
    'includeCalendars': true,
    'selectDefaultDate': false,
    'ytdDatesRange': '#{current_company.ytd_dates_range}',
    'includeAutoComplete': true,
    'applyTo': 'results_comments',
    'userFilters': #{user_saved_filters('results_comments').to_json.html_safe},
    'autoCompletePath': '#{autocomplete_path(:events, format: :json)}',
    'defaultParams': '#{j default_params_for_view('status[]=Active', scope: 'results_comments')}',
    'emptyStateMessage': '#{j t("results_comments.empty.line1", scope: :blank_states) }',
    'emptyStateMessageLine2': '#{j t("results_comments.empty.line2", scope: :blank_states) }',
    'emptyFilterResultsMessage': '#{j t("results_comments.filters.line1", default: :filters_line1, scope: :blank_states) }',
    'emptyFilterResultsMessageLine2': '#{j t("results_comments.filters.line2", default: :filters_line2, scope: :blank_states) }',
    'emptyStateImage': '#{asset_path('blank-comments.png')}',
    'onChange': function(filterBox){
      $(document).trigger('comments-filter:changed')
    },
    'onItemsChange': function(response, page){
      if ($('#comment-list .resource-item').length > 0) {
        $('#list-tools').show()
      } else {
        $('#list-tools').hide()
      }
    }
  });