= user_new_feature('results_event_data') do
  h5 Getting Started: Event Data Report
  a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
  a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/qkbS-xRdWtY?rel=0" data-width="640" data-height="360"
    img src="#{image_path('video_arrow.png')}" width="70" height="70" /
  .feature-description
    p
      'The Event Data Report holds all of your post event data. Use this report to keep track of your executed events, review campaign performance, and export raw data to excel. Click on the video to the left for a quick overview or check out our
      a> href="http://support.brandscopic.com" target="_blank" support site
      | for more in depth info.

- content_for :alerts
  div.collection-list-description
    .filter-label
    .filter-buttons
.sidebar#resource-filter-column
  #collection-list-filters
#main.main.with-details-close-bar
  = resource_details_bar("You are viewing the Event Data report. Click to close.")
  .tab-content
    #list-view.tab-pane.active
      #list-tools.row-fluid
        .pull-right
          button.btn.download.xlsx-download-link data-url="#{url_for(format: :csv)}" title="Download" data-disable-with="..."
            span.icon-download
          a.btn.fullscreen.fullscreen-link href="#" data-fullscreen-element='main' title="Fullscreen"
            span.icon-fullscreen
      .collection-list-horizontal-scroll
        #columns-scoller-arrows.hide
          .left-arrow
            a.icon-angle-left
          .right-arrow
            a.icon-angle-right
        #event-data-totals

      #event-data-list.resource-list
        div.placeholder
          p Select any filter to see results

= render partial: 'help_tutorial'

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: 'results/event_data', action: :items)}',
    'filtersUrl': '#{filter_url(:events, apply_to: controller_name)}',
    'listContainer': '#event-data-list',
    'sorting': 'start_at',
    'sorting_dir': 'asc',
    'autoLoad': true,
    'includeCalendars': true,
    'selectDefaultDate': false,
    'ytdDatesRange': '#{current_company.ytd_dates_range}',
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_path(:events, format: :json)}',
    'applyTo': '#{controller_name}',
    'userFilters': #{user_saved_filters(controller_name).to_json.html_safe},
    'defaultParams': '#{j default_params_for_view('status[]=Active')}',
    'emptyStateMessage': '#{j t("results_event_data.empty.line1", scope: :blank_states) }',
    'emptyStateMessageLine2': '#{j t("results_event_data.empty.line2", scope: :blank_states) }',
    'emptyFilterResultsMessage': '#{j t("results_event_data.filters.line1", default: :filters_line1, scope: :blank_states) }',
    'emptyFilterResultsMessageLine2': '#{j t("results_event_data.filters.line2", default: :filters_line2, scope: :blank_states) }',
    'emptyStateImage': '#{asset_path('blank-eventdata.png')}',
    'onChange': function(filterBox){
      $(document).trigger('event-data-filter:changed')
    },
    'onItemsLoad': function(response, page){
      if (response.find('div[data-content="totals-results"]').length > 0){
        $('#columns-scoller-arrows').removeClass('hide')
        $('#event-data-totals').html(response.find('div[data-content="totals-results"]').html())
      }
    },
    'onItemsChange': function(response, page){
      if ($('#event-data-list .resource-item').length > 0) {
        $('#list-tools').show()
      } else {
        $('#list-tools').hide()
      }
    }
  });
  //when clicked right arrow, scroll pane to the right
  $('#columns-scoller-arrows .right-arrow').on('click', function(){
    var $lastItem = $('.results-box-container>span:last-child:first');
    if (($lastItem.offset().left + $lastItem.width()) > $(this).offset().left ) {
      scroll = $('#list-view').data('scroll');
      if (typeof scroll == 'undefined'){
        scroll = 1;
      }
      $('#list-view').addClass('scroll-'+scroll).data('scroll', scroll + 1);
    }
    if (($lastItem.offset().left + $lastItem.width()) <= $(this).offset().left + ($lastItem.width()*2) ) {
      $('#list-view').addClass('scroll-last');
    }
  });
  //when clicked left arrow scroll pane to the  left
  $('#columns-scoller-arrows .left-arrow').on('click', function(){
    scroll = $('#list-view').data('scroll');
    $('#list-view').removeClass('scroll-last')
    if (scroll && scroll > 0){
      scroll = scroll-1;
      $('#list-view').removeClass('scroll-'+scroll).data('scroll', Math.max(scroll,1));
    }
  });
  //when window resized, pane layout
  $(window).bind('resize',function(){
    var $lastItem = $('.results-box-container>span:last-child:first');
    if ($lastItem.length > 0){
      if (($lastItem.offset().left + $lastItem.width()) <= $('#columns-scoller-arrows .right-arrow').offset().left ) {
         $('#list-view').addClass('scroll-last');
      } else {
        $('#list-view').removeClass('scroll-last');
      }
    }
  })
