= user_new_feature('venues_list') do
  h5 Getting Started: Venues
  a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
  a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/pyLe07KRYik?rel=0" data-width="640" data-height="360"
    img src="#{image_path('video_arrow.png')}" width="70" height="70" /
  .feature-description
    p
      'Welcome to the Venues module! This section holds all of the historical data for specific venues - here you can view venue data, keep track of your accounts, and create new venues. Use the right sidebar to filter for specific venues or create your own using the red  "Create" button. Click on the video to the left for a quick overview or visit our
      a> href="http://support.brandscopic.com" target="_blank" support site
      | for more information about this section.

- content_for :alerts
  div.collection-list-description
    .filter-label
    .filter-buttons
#venues-search-form-box.form-horizontal
  .row-fluid
    .span6
      .control-group
        label class="control-label" for="venue-search-term"= "I am looking for"
        .controls
          input type="text" placeholder="Enter a place: bars, lounges, etc.." name="q" venueholder="bars, lounges, Bar None" id="venue-search-term"
    .span6
      .control-group
        label class="control-label" for="location" Near
        .controls
          input.required type="text" name="location" venueholder="address, city or zip code" id="venue-search-location"
          button#venues-search-btn.btn.btn-primary.pull-right Search

.sidebar.collapsed#resource-filter-column
  #collection-list-filters
.main
  #list-tools.text-right
    .dropdown.btn-download
      a.btn.dropdown-toggle href="#" data-toggle="dropdown" data-target="#" title="Download"
        i.icon-download
        i.icon-arrow-down-small
      ul.dropdown-menu.download-options-menu role="menu" aria-labelledby="dLabel"
        li
          a.xlsx-download-link href="#" role="menuitem" data-url="#{venues_path(format: :csv)}"
            | Download as CSV
        li
          a#pdf-export.xlsx-download-link href="#" role="menuitem" data-url="#{venues_path(format: :pdf)}"
            | Download as PDF

  .tab-content
    #list-view.tab-pane.active
      #venues-totals
      #venues-list.resource-list

= render partial: 'help_tutorial'

javascript:
  var locationAutocomplete = new google.maps.places.Autocomplete($('#venue-search-location')[0], {types: ['(cities)']});

  google.maps.event.addListener(locationAutocomplete, 'place_changed', function() {
    var place = locationAutocomplete.getPlace();
    if (!place.geometry) {
      return false;
    }

    $('#venue-search-location').data('location', place.geometry.location.lat() + ',' + place.geometry.location.lng());
  });

  $('#venue-search-location').focusin(function () {
    $(document).keypress(function (e) {
      if (e.which == 13) {
        selectFirstResult();
      }
    });
  });
  $('#venue-search-location').focusout(function () {
    if (!$(".pac-container").is(":focus") && !$(".pac-container").is(":visible"))
      selectFirstResult();
  });

  function selectFirstResult() {
    $(".pac-container").hide();
    var firstResult = $(".pac-container .pac-item:first").text();

    var geocoder = new google.maps.Geocoder();
    geocoder.geocode({"address": firstResult }, function (results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var lat = results[0].geometry.location.lat(),
                lng = results[0].geometry.location.lng(),
                placeName = results[0].address_components[0].long_name,
                latlng = new google.maps.LatLng(lat, lng);
        
        $('#venue-search-location').val(firstResult);
        $('#venue-search-location').data('location',lat + ',' + lng);
        $('#venues-search-btn').click();
      }
    });
  }
  $('#venues-search-btn').click(function(e){
    e.preventDefault();
    var term = $('#venue-search-term').val()
    var loc = $('#venue-search-location').data('location')
    var $filters = $('#collection-list-filters');
    if (!loc) {
      alert('Please enter a location');
    } else {
      $('#venue-search-location').closest('.control-group').removeClass('error');
      $filters.filteredList('setParams',
        'location='+encodeURIComponent(loc) +
        '&q='+encodeURIComponent(term) +
        '&loc_name='+encodeURIComponent($('#venue-search-location').val())
        );
      //$filters.filteredList('reloadFilters');
    }
    return false;
  });

  $('#venue-search-term, #venue-search-location').keyup(function(e){
    var charCode = (typeof e.which === "number") ? e.which : e.keyCode;
    if (charCode == 13){
      $('#venues-search-btn').click();
    }
  })

  $(document).ready(function(){
    query = window.location.search.replace(/^\?/,"")
    if (query != '') {
      if (query.match(/location=([^&]+)/)){
        var loc = decodeURIComponent(query.replace(/.*location=([^&]+).*/,'$1'));
        var locname = decodeURIComponent(query.replace(/.*loc_name=([^&]+).*/,'$1')).replace(/\+/g, ' ');
        var term = decodeURIComponent(query.replace(/.*&q=([^&]*).*/,'$1')).replace(/\+/g, ' ');
        if ( loc ) {
          $('#venue-search-location').val(locname);
          $('#venue-search-location').data('location',loc);
          $('#venue-search-term').val(term);
          $filters = $('#collection-list-filters');
          $filters.filteredList('addCustomFilter', 'loc_name', locname, false);
          $filters.filteredList('addCustomFilter', 'location', loc, false);
          $filters.filteredList('addCustomFilter', 'q', term, true);
        }
      }
    }
    if($('#venues-list').has('li')){
        $('#venue-download-button').removeClass('hidden');
     }
  })

  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: :venues, action: :items)}',
    'filtersUrl': '#{filter_url(:venues)}',
    'listContainer' : '#venues-list',
    'sorting': 'name',
    'sorting_dir': 'asc',
    'includeCalendars': true,
    'includeAutoComplete': false,
    'autoCompletePath': '#{autocomplete_path(:venues, format: :json)}',
    'applyTo': '#{controller_name}',
    'userFilters': #{user_saved_filters(controller_name).to_json.html_safe},
    'defaultParams': '#{j default_params_for_view('')}',
    'onChange': function(filterBox){
       $('#venue-download-button').removeClass('hidden');
      $(document).trigger('events-filter:changed')
    },
    'onItemsLoad': function(response, page){
      if (response.find('div[data-content="totals-results"]').length > 0){
        $('#venues-totals').html(response.find('div[data-content="totals-results"]').html())
      }
    },
    'emptyStateMessage': '#{j t("venues.empty.line1", scope: :blank_states) }',
    'emptyStateMessageLine2': '#{j t("venues.empty.line2.with#{can?(:create, Event) ? '' : 'out'}_schedule_permissions", scope: :blank_states) }',
    'emptyFilterResultsMessage': '#{j t("venues.filters.line1", default: :filters_line1, scope: :blank_states) }',
    'emptyFilterResultsMessageLine2': '#{j t("venues.filters.line2", default: :filters_line2, scope: :blank_states) }',
    'emptyStateImage': '#{asset_path('blank-venues.png')}',
    'canCreatePermission': #{can?(:create, Venue)}
  });