= user_new_feature('venue_details') do
  h5 Getting Started: Venue Details
  a.close.btn-dismiss-alert.icon.icon-close href="#" title="Dismiss"
  a.video-thumbnail href="#" title="Play Video" data-video="//www.youtube.com/embed/sf8Yz1-3KSM?rel=0" data-width="640" data-height="360"
    img src="#{image_path('video_arrow.png')}" width="70" height="70" /
  .feature-description
    p
      'You are now viewing the Venue Details page. This page provides a variety of important information about a specific venue to help give you a thorough snapshot of your account's performance. Learn about demographics, average impressions, bar spend, and much more - all by scrolling down the page! Click on the video to the left for a quick overview or visit our
      a> href="http://support.brandscopic.com" target="_blank" support site
      | for more information about this section.

.row-fluid.with-details-close-bar


  /! This must be dynamic with the name of the venue
  = resource_details_bar("Viewing #{resource.name} venue details page.")

  .details_box.padding-top-close-bar
    .row-fluid.details_first_container
      .span6
        .details-title
          h2.special
            b= resource.name
          .edition-links
            = button_to_edit resource.place if can?(:edit, resource)

        - if resource.price_level(fetch_from_google: true)
          div.price
            = place_price(resource.price_level)
        ul.stripped-list.small.data-list
          li
            i.icon-wired-venue
            => place_address(resource.place, false, ', ', ' ', true, false)
            = link_to_get_directions(resource)
          - if resource.phone_number.present?
            li
              i.icon-mobile
              span
                = resource.phone_number
          - if resource.website.present?
            li
              i.icon-web
              = place_website(resource.website)


        ul.stripped-list.small
          - if resource.td_linx_code
            li
              b.highlight-text TD Linx Code:
              span = resource.td_linx_code

          - if resource.opening_hours && resource.opening_hours.key?('periods')
            li
              b.highlight-text Hours:
              = place_opening_hours_formatted(resource.opening_hours)

          - if jbb_feature_enabled?
            li
              b.highlight-text> Jameson Local Account:
              b<= resource.jameson_locals ? 'Yes' : 'No'
            li
              b.highlight-text> Top 100 Account:
              b<= resource.top_venue ? 'Yes' : 'No'
        - if resource.entity_form.present?
          .details-venues-custom-fields
            = render partial: 'custom_form_fields', locals: { form_fields: resource.form_fields }
        / p.small Quis nostrud exerci tation, ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat duis autem. Consuetudium lectorum mirum est notare quam littera gothica quam nunc putamus parum! Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum dolore. Volutpat ut wisi enim ad minim veniam eu feugiat nulla. Imperdiet doming id quod mazim placerat facer possim assum typi non habent claritatem? Nunc nobis videntur parum clari fiant sollemnes in?

        #venue-areas.add-details-info
          = render partial: 'areas', locals: {areas: resource.place.areas}

      .span6.map_container
        - unless resource.latitude.nil? || resource.longitude.nil?
          #venue-map-canvas.google-map data-latitude="#{resource.latitude}" data-longitude="#{resource.longitude}"
            b= resource.name
            br>/
            = place_address(resource.is_a?(Venue) ? resource.place : resource)


- if resource.events_count.present? && resource.events_count > 0
  - if can?(:view_score, resource) || can?(:view_kpis, resource)
    .details_box
      - if resource.persisted?
        .venue-overall
          .row-fluid
            .span6
              - if can?(:view_score, resource)
                #venue-score
                  span= resource.score
                  | VENUE SCORE
                #venue-score-narrative
                  = venue_score_narrative(resource)

            .span6
              - if can?(:view_kpis, resource)
                #overall-venue-stats.kpi-trends-stats.text-right
                  .live-stats
                    span= resource.events_count
                    = (resource.events_count == 1 ? " Event" : " Events")
                    br>/
                    span= number_with_delimiter(resource.promo_hours)
                    = (resource.promo_hours == 1 ? " Promo Hour" : " Promo Hours")
                    br>/
                    span= number_with_delimiter(resource.impressions)
                    = (resource.impressions == 1 ? " Impression" : " Impressions")
                    br>/
                    span= number_with_delimiter(resource.interactions)
                    = " Interactions"
                    br>/
                    span= number_with_delimiter(resource.sampled)
                    = " Sampled"
                  .live-stats-2
                    span= number_with_delimiter(resource.avg_impressions.round)
                    = " Impressions/Event"
                    br>/
                    span= number_with_delimiter(resource.avg_impressions_hour.round)
                    = " Impressions/Promo Hour"
                    br>/
                    span= number_to_currency(resource.avg_impressions_cost, precision: 2)
                    = " Cost/Impression"

      - if resource.persisted? && can?(:view_kpis, resource) && !is_demographic_empty?(resource.overall_graphs_data[:gender])
        #demographics.row-fluid
          .span6
            #gender-graph.row-fluid
              = gender_graph(resource.overall_graphs_data[:gender])
            .row-fluid
              #overall-age-graph
          .span6
            #overall-ethnicity-graph

  - if can?(:view_trends_day_week, resource)
    #venue-trends-week.details_box
      h5.module-title TRENDS BY DAY OF WEEK
      #venue-trends-by-day-narrative= venue_trend_week_day_narrative(resource)
      #trends-day-week-graph

- if can?(:view_events, resource)
  #venue-events.details_box
    h5.module-title EVENTS
    - upcomming_venue_events_list
    - if @venue_events_total > 0
      = button_to 'Create Event', new_venue_event_path(resource), method: :get, remote: true, class: 'btn btn-primary', :id => 'new-event-btn' if can? :create, Event
      #venue-events-container
        = render partial: 'upcoming_events'
    - else
      = blank_state_module('venue.events') do
        = button_to 'Create Event', new_venue_event_path(resource), method: :get, remote: true, class: 'btn btn-primary', title: 'Create Event'


- if resource.persisted? && (can?(:show, Activity) || can?(:index_invites, Venue))
  #venue-activities.details_box
    = render 'activities'

  = render 'attendance'

- if can?(:view_photos, resource) && resource.photos.count > 0
  #venue-photos.details_box.box_photos
    h5.module-title MEDIA GALLERY
    .gallery
      ul#photos-thumbs
        - resource.photos.each do |photo|
          - if photo.is_a?(AttachedAsset)
            = render partial: 'results/photos/photo', locals: {photo: photo}
          - else
            li.photo-item
              div.thumbnail-inner
                a data-toggle='gallery' title="View Photo" href="https://maps.googleapis.com/maps/api/place/photo?maxheight=700&maxwidth=700&photoreference=#{photo.photo_reference}&sensor=true&key=#{GOOGLE_API_KEY}"
                  = image_tag "https://maps.googleapis.com/maps/api/place/photo?maxwidth=180&photoreference=#{photo.photo_reference}&sensor=true&key=#{GOOGLE_API_KEY}", class: 'google-images', data: {\
                      title:  resource.name,\
                      url: '',\
                      urls: [],\
                      date: '',\
                      address: strip_tags(place_address(resource.place, false, ', ', ', ')),\
                      rating: nil,\
                      permissions: [],\
                      id: nil\
                    }

- if can?(:view_comments, resource) && resource.reviews.count > 0
  #venue-comments.details_box
    h5.module-title COMMENTS
    - resource.reviews.each do |review|
      .venue-review
        - unless review.is_a?(Comment)
          .review-author-name
            b= review.author_name
          .review-rating= rating_stars(review.rating)
          .review-date.small= time_ago_in_words(DateTime.strptime(review.time.to_s,'%s'))
          .review-text= review.text
        - else
          .review-author-name= review.user_full_name
          .review-date= time_ago_in_words(review.created_at)
          .review-text= review.content

= render partial: 'help_tutorial'

javascript:
  $("div.gallery").photoGallery({applyTo: '#{controller_name}'})
- if resource.persisted?
  - if can?(:view_kpis, resource)
    javascript:
      #{render partial: 'shared/ethnicity_graph', locals:{data: resource.overall_graphs_data[:ethnicity], container: '#overall-ethnicity-graph'} if resource.overall_graphs_data[:ethnicity].present?}

      #{render partial: 'shared/age_graph', locals:{data: resource.overall_graphs_data[:age], container: '#overall-age-graph'} if resource.overall_graphs_data[:age].present?}


  - if resource.events_count.present? && resource.events_count > 0  && can?(:view_trends_day_week, resource)
    javascript:
      $('#trends-day-week-graph').highcharts({
          credits: { enabled: false },
          chart: {marginTop: 50 },
          title: {
              text: null
          },
          xAxis: {
              categories: ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
              lineColor: '#D1D1D1',
              tickWidth: 0,
              labels: {
                style: {
                  color: '#D1D1D1'
                }
              },
          },
          yAxis: [{
              title: {
                  text: null
              },
              gridLineColor: 'transparent',
              lineWidth: 1,
              lineColor: '#D1D1D1',
              tickWidth: 1,
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }],
              labels: {
                style: {
                  color: '#D1D1D1'
                }
              },
              min: 0,
              maxPadding: 0.2
          },{
              title: {
                  text: null
              },
              gridLineColor: 'transparent',
              lineWidth: 1,
              lineColor: '#D1D1D1',
              tickWidth: 1,
              plotLines: [{
                  value: 0,
                  width: 1,
                  color: '#808080'
              }],
              labels: {
                format: '${value}',
                style: {
                  color: '#D1D1D1'
                }
              },
              opposite: true,
              min: 0,
              maxPadding: 0.2
          }],
          plotOptions: {
              series: {
                  marker: {
                      fillColor: '#FFFFFF',
                      lineWidth: 2,
                      lineColor: null, // inherit from series
                      radius: 6,
                      symbol: 'circle'
                  }
              }
          },
          tooltip: {
              headerFormat: '',
              pointFormat: '{point.y}',
              borderWidth: 0,
              borderColor: '#FFF',
              backgroundColor: 'transparent',
              shadow: false,
              style: {
                  fontSize: '14px'
              },
              positioner: function( labelWidth, labelHeight, point){
                  return {
                    x: point.plotX + this.chart.plotLeft - (labelWidth/2),
                    y: point.plotY + this.chart.plotTop - labelHeight - 10
                  };
              },
              formatter: function() {
                  if (this.series.name =='Cost/Impression'){
                    return '<span style="color:'+this.series.color+'">$'+this.y +'</span>';
                  }else{
                    return '<span style="color:'+this.series.color+'">'+this.y +'</span>';
                  }
              }
          },
          legend: {
              floating: true,
              borderWidth: 0,
              y: -10,
              align: 'right',
              verticalAlign: 'top',
              itemStyle: { fontSize: '10px', color: '#3E9CCF' }
          },
          series: [
            {
              name: 'Impressions/promo hour',
              data: #{resource.overall_graphs_data[:impressions_promo].values.map(&:round).to_json.html_safe},
              color: '#3D9CCA'
            },
            {
              name: 'Cost/Impression',
              data: #{resource.overall_graphs_data[:cost_impression].values.map(&:round).to_json.html_safe},
              color: '#94D6ED',
              yAxis: 1
            }
          ]
      });

  javascript:
    $(document).on('areas:change', function(){
      $.get('#{areas_venue_path(resource, format: :js)}');
    });
    $('#collapse-venue-hour').on('show', function(){
      $('[data-target="#collapse-venue-hour"]').text('(Show less)');
    });
    $('#collapse-venue-hour').on('hide', function(){
      $('[data-target="#collapse-venue-hour"]').text('(Show more)');
    });
    $('.show-more-link').click(function(e){ e.preventDefault(); return true; })
