= user_new_feature 'results_activity_data'

- content_for :alerts
  div.collection-list-description
    .filter-label
    .filter-buttons
.sidebar#resource-filter-column
  #collection-list-filters
#main.main.with-details-close-bar
  = resource_details_bar("You are viewing the Activity Data report. Click to close.")
  .tab-content
    #list-view.tab-pane.active
      #list-tools.row-fluid.text-right
        .dropdown.btn-download#btn-export
          a.btn.dropdown-toggle href="#" data-toggle="dropdown" data-target="#" title="Download"
            i.icon-download
            i.icon-arrow-down-small
          ul.dropdown-menu.download-options-menu role="menu" aria-labelledby="dLabel"
            li
              a.xlsx-download-link href="#" role="menuitem" data-url="#{results_activities_path(format: :csv)}"
                | Download as CSV
            li
              a#pdf-export.xlsx-download-link href="#" role="menuitem" data-url="#{results_activities_path(format: :pdf)}"
                | Download as PDF
      .collection-list-horizontal-scroll
        #columns-scoller-arrows.hide
          .left-arrow
            a.icon-angle-left
          .right-arrow
            a.icon-angle-right
        #activity-data-totals

  div.resource-list.without-actions id="#{controller_name}-list"

= render partial: 'help_tutorial'

javascript:
  $('#collection-list-filters').filteredList({
    'source': '#{url_for(controller: 'results/activities', action: :items)}',
    'filtersUrl': '#{filter_url(:activities, apply_to: controller_name)}',
    'listContainer' : '##{controller_name}-list',
    'sorting': 'activity_date',
    'sorting_dir': 'asc',
    'autoLoad': true,
    'applyTo': '#{controller_name}',
    'userFilters': #{user_saved_filters(controller_name).to_json.html_safe},
    'includeCalendars': true,
    'selectDefaultDate': false,
    'ytdDatesRange': '#{current_company.ytd_dates_range}',
    'includeAutoComplete': true,
    'autoCompletePath': '#{autocomplete_path(:activities, format: :json)}',
    'defaultParams': '#{j default_params_for_view('status[]=Active')}',
    'emptyStateMessage': '#{j t("results_activities.empty.line1", scope: :blank_states) }',
    'emptyStateMessageLine2': '#{j t("results_activities.empty.line2", scope: :blank_states) }',
    'emptyFilterResultsMessage': '#{j t("results_activities.filters.line1", default: :filters_line1, scope: :blank_states) }',
    'emptyFilterResultsMessageLine2': '#{j t("results_activities.filters.line2", default: :filters_line2, scope: :blank_states) }',
    'emptyStateImage': '#{asset_path('blank-activity.png')}',
    'onChange': function (filterBox) {
      $(document).trigger('activity-data-filter:changed')
    },
    'onItemsLoad': function(response, page){
      if (response.find('div[data-content="totals-results"]').length > 0){
        $('#columns-scoller-arrows').removeClass('hide')
        $('#activity-data-totals').html(response.find('div[data-content="totals-results"]').html())
      }
    },
    'onItemsChange': function(response, page){
      if ($('#activities-list .resource-item').length > 0) {
        $('#list-tools').show()
      } else {
        $('#list-tools').hide()
      }
    }
  });
  //when clicked right arrow, scroll pane to the right
  $('#columns-scoller-arrows .right-arrow').on('click', function () {
    var $lastItem = $('.results-box-container>span:last-child:first');
    if (($lastItem.offset().left + $lastItem.width()) > $(this).offset().left) {
      scroll = $('#list-view').data('scroll');
      if (typeof scroll == 'undefined') {
        scroll = 1;
      }
      $('#list-view').addClass('scroll-' + scroll).data('scroll', scroll + 1);
    }
    if (($lastItem.offset().left + $lastItem.width()) <= $(this).offset().left + ($lastItem.width() * 2)) {
      $('#list-view').addClass('scroll-last');
    }
  });
  //when clicked left arrow scroll pane to the  left
  $('#columns-scoller-arrows .left-arrow').on('click', function () {
    scroll = $('#list-view').data('scroll');
    $('#list-view').removeClass('scroll-last')
    if (scroll && scroll > 0) {
      scroll = scroll - 1;
      $('#list-view').removeClass('scroll-' + scroll).data('scroll', Math.max(scroll, 1));
    }
  });
  //when window resized, pane layout
  $(window).bind('resize', function () {
    var $lastItem = $('.results-box-container>span:last-child:first');
    if ($lastItem.length > 0) {
      if (($lastItem.offset().left + $lastItem.width()) <= $('#columns-scoller-arrows .right-arrow').offset().left) {
        $('#list-view').addClass('scroll-last');
      } else {
        $('#list-view').removeClass('scroll-last');
      }
    }
  })