.campaigns-modals
  p Add campaigns from the list below

  input#campaigns-search-box.search-box.select-list-seach-box type="text" name="q" data-list="#campaigns-list"
  #campaigns-list.resource-list.select-list.compact
    - if assignable_campaigns.any?
      - assignable_campaigns.each do |campaign|
        .resource-item id="campaign-#{campaign.id}"
          .resource-item-link
            .text-large= campaign.name
            = campaign.description
          .resource-item-actions
            = link_to '', assign_campaign_path(campaign, "#{parent.class.name.underscore.downcase}_id" => parent.id, format: :js), remote: true, method: :post, enable_with: '...', class: 'icon-plus-sign', title: 'Add Campaign' if campaign.active?
    - else
      .empty-list-message
        p There are not assignable campaigns

  .row-fluid
    .span12
      .divider
        | OR
