- hide_actions ||= false
div.resource-item id="goal_#{goal.id}"
  = link_to_if_permitted :read, Goal, goal_path(goal), class: 'resource-item-link' do
    .span3.first
      span.text-large= goal.title
      .crop-text
        = goal.kpi.name
    .span3
      span.text-large = goal.value
      .crop-text
        = Goal
    .span3
      .date= format_date goal.start_date
      | Start Date
    .span3.last
      .date= format_date goal.due_date
      | End Date
  - unless hide_actions
    div.resource-item-actions
      //= button_to_edit goal if can?(:edit, Goal)
      //= button_to_activate_or_deactivate(goal) if can?(:deactivate, Goal)