
// INTERNET EXPLORER
// --------------------------------------------------------------------------
.msie {
	header .nav li {
		a {
			white-space: nowrap;
		}
		&#user_menu {
			a {

			}
		}
	}
	.progress {
		.bar {
			filter: none;
		}
	}
}


// MOZILLA FIREFOX
// --------------------------------------------------------------------------
.mozilla{
	a{
		&:focus{
			text-decoration: none;
		}
	}
  .user-tag, .user-tag-option{
    .icon-close {
      line-height: 25px;
    }
  }
	.btn{
		&.calendar:after{
			font-size: 14px;
			top: 1px;
		}
		&.map:after{
			font-size: 14px;
		}
	}
	.datepick{
		margin-bottom: 10px;
	}
	.form-fields-sections{
		.field{
			&.ui-sortable-placeholder {
				position: relative;
				&:before {
					content: "|||" !important;
					letter-spacing: 0;
					top: -45px;
					left: -1px !important;
					position: absolute;
					font-size: 12px;
					font-weight: bolder;
				}
				&:after {
					content: "|||";
					letter-spacing: 0;
					top: -15px;
					right: 1px;
					position: absolute;
					font-size: 12px;
					font-weight: bolder;
				}
			}
		}
	}

	.goalable-list li{
		.goals-controls{
			a:hover, a:focus  {
				text-decoration: none;
			}
		}
		.goalable-name {
			float: left;
		}
	}
	li#notifications{
		.dropdown-menu ul li a i.icon-angle-right:before{
			top:8px;
		}
		.notification-state{
 			line-height: 15px;
 			padding: 0 1px 0 0;
		}
	}

	.link-list b{
		top:0;
	}
	#list-tools .btn-primary {
			padding: 5px 25px;
	}
	.search-filter-label, input.search-query{
		margin-bottom: 0;
		&#search-box-filter{
			margin-bottom: 10px;
		}
	}
	#main:-moz-full-screen {
		 .btn.fullscreen:after {
				 content: "\e040";
			 font-family: 'icons';
		 }
	}
	.activity-form{
		.field{
			&.ui-draggable{
				padding: 0 !important;
				width:46% !important;
			}
		}
	}

	#report-builder{
		.report-field .field-settings-btn{
			margin-top: 0;
		}
	}

	@media (max-height: 810px) {

		#report-builder{
			#report-fields{
				min-height: 108px;
			}
			.field-list {
				height: 48px;
				.fields-group{
					height: 70px;
					margin-top: 0;
				}
			}
		}
	}
}

// WEBKIT BROWSERS
// --------------------------------------------------------------------------
.webkit{

}

// OPERA
// --------------------------------------------------------------------------
.opera{

}
