@import "variables";
@import "mixins";

//MODALS

ul.select2-results{
	color: $text;
	margin: 0;
	padding:0 !important;
	.select2-highlighted{
		background: $brand;
	}
}
.select2-drop {
	border: 1px solid $user_menu !important;
	border-radius: 4px !important;
	margin-top: 4px !important;
	overflow:hidden;
}

.modal {
	overflow: visible !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	z-index: 9999999;
	.btn-primary, .btn-cancel{
		line-height: 32px;
		height: 41px;
		min-width: 154px;
	}
	&.modal-med{
		width: 460px;
		.modal-body{
			.control-group{
				&.task_title{
					label{
						width: 40px;
					}
					&.error{
						.help-inline{
							margin-bottom: -7px;
						}
					}
				}
			}
			.new_kpi input[type="text"]#kpi_name{
				width: 383px;
			}
		}
		&.kpi_modal{
			padding-bottom: 30px;
		}

		.chzn-container-multi{
			.chzn-choices{
				width: 400px !important;
			}
			.chzn-drop{
				box-shadow: none;
				width: 400px !important;
			}
		}

		.modal-body{
			.control-group{
				label{
					display: inline-block;
					&.checkbox{
						margin-bottom: 6px;
						margin-top: 6px;
						.checker span.checked:after{
							top:-6px;
						}
					}
					&.radio{
						div.radio {
							margin: 0 15px 0px 0;
						}
					}
					&.radio, &.checkbox {
						display: block;
						padding: 0;
					}
				}
				.likert-scale-table {
					td {
						padding: 4px;
					}
					label.radio div.radio {
						margin:0;
					}
				}
				&.campaign_brands_list, &.date_range_name,
				&.date_range_description,
				&.team_name, &.role_name, &.area_name, &.kpi_name, &.brand_portfolio_name, &.day_part_name,
				{
					display:block;
					width: 400px;
				}
				&.task_title{
					margin: 0 0 15px 0;
					width: 400px;
				}
				&.task_company_user{
					margin: 0;
					width: 268px;
					.task_company_user_id_chzn{
						.chzn-container{
							width: 100% !important;
						}
					}
					.chzn-drop{
						box-shadow: none;
					}
				}
				&.task_due_at{
					margin-left: 21px;
					width: 110px;
					input[type="text"]{
						background: image-url('calendar.svg') no-repeat left !important;
						text-align: right;
						width: 110px;
					}
				}
			}
			#goal_kpi_id_chzn{
				&.chzn-container-single{
					.chzn-single{
						width: 390px;
					}
				}
			}
		}
		&.rejection-prompt{
			input[type="text"]{
				width: 385px;
			}
		}
	}
	&.modal-large{
		min-width: 620px;
		margin-left: -310px;
		.modal-body{
			.contacts-modals{
				a{
					&.btn.btn-primary{
						margin-right: 10px;
					}
				}
				#select-contacts-table-wrapper{
					.divider{
						margin-top: 30px;
					}
					p{
						margin-bottom: 0;
					}
				}
			}
			#select-campaigns-table-wrapper{
				.link-list{
					margin-top: 35px;
					ul#select-campaigns-list{
						height: auto;
						max-height: 332px;
						overflow-x: hidden;
						overflow-y: auto;
						li{
							padding: 14px 0 0 20px;
							box-sizing: border-box;
						}
					}
				}
			}
			.control-group{
				label{
					display: inline-block;
				}
				&.user_email{
					display: inline-block;
					margin: 0;
					width: 558px;
				}
			}

			.users{
				.span6{
					margin-bottom: 8px;
					&:first-child{
						margin-right: 31px !important;
					}
					.chozen-enabled{
						width: 100px !important;
					}
				}
			}
			.users-teams-roles{
				.control-group{
					margin-right: 0;
				}
			}
			#add-new-place-campaign {
				margin-bottom: 25px;
			}
			.normal-text {
				color: $user_menu;
				display: inline-block;
				font-size: 12px;
			}
			.link-text {
				color: $brand;
				display: inline-block;
				font-size: 12px;
				font-weight: bold;
			}
		}
		&.select-kpis-modal{
			top: 2%;
		}
	}
	&.modal-xlarge{
		left: 10%;
		margin-left: 0;
		min-width:80%;
		#survey-form {
			.control-group {
				width: 100%;
				.radio-group{
					margin-bottom: 0;
					label.radio{
						width: auto;
					}
				}
				.hidden-label{
					display: inline-block;
					float: left;
					margin-right: 60px;
					width: 230px;
					label.radio{
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						padding-top:10px;
						width:300px;
					}
				}
				.hidden-field{
					.add-on{
						background-color: $brand;
						border:0 !important;
						border-radius: 0px 4px 4px 0px;
						color: white;
						display: inline-block;
						-webkit-border-radius: 4px 0px 0px 4px;
						padding: 10px 4px 13px 4px;
						text-align: center;
						text-shadow:none !important;
						width: 40px;
					}
					input[type="text"]{
						border-radius: 0px 4px 4px 0px;
						height: 33px;
						margin: 0;
						width: 158px;
						-webkit-border-radius: 0px 4px 4px 0px;
					}
				}
				&.error{
					.help-inline{
						margin-bottom: 1px;
					}
				}
			}

			.demograpics-module{
				margin-bottom: 15px;
			}
			input[type="text"]{
				margin-left: 10px;
			}
			p{
				width: 550px;
			}
			label{
				color: $text;
				font-size: 14px;
				float: left;
				margin-right: 15px;
				&.control-label{
					font-size: 16px;
					margin-bottom: 15px;
				}
				&.radio{
					width: 100%;
				}
			}
			legend{
				border:0;
				color:$text;
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 10px;
				&.competitive, &.conversion{
					float: left;
					position: relative;
				}
			}
			ul{
				margin: 0;
				li {
					list-style: none;
					padding: 0;
					margin: 0;
					.control-group{
						margin-bottom: 10px;
					}
				}
				&.competitive{
					margin: 25px 0 25px 0;
					.titles{
						color: $brand;
						margin: 0 0 15px 245px;
						width:390px;
						span{
							margin: 0 24px 0 22px;
							width: 80px;
							text-align: center;
							display: inline-block;
						}
					}
					label{
						&.control-label{
							font-size: 13px !important;
							margin-bottom: 0 !important;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: 220px;
						}
						&.radio-brand{
							float: left;
							margin-right: 43px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: 255px;
						}
						&.radio{
							margin-right: 90px;
							&:last-child{
								margin: 0;
							}
						}
					}
				}
				&.conversion{
					margin: 25px 0 60px 0;
					.titles{
						color: $brand;
						margin:0 0 15px 240px;
						width: 67%;
						span{
							display: inline-block;
							margin: 0 60px 0 40px;
							text-align:center;
							width: 25px;
							&:first-child{
								margin: 0 20px 0 16px;
								width: auto;
							}
							&:last-child{
								margin: 0 0 0 10px;
								width: auto;
							}
						}
					}
					label{
						&.radio-brand{
							display:inline-block;
							margin-right: 43px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: 255px;
						}
						&.radio{
							margin: 0 90px 0px 0;
						}
					}
				}
				&.recommend{
					margin: 25px 0 25px 0;
					.titles{
						color: $brand;
						margin:0 0 15px 235px;
						width:80%;
						span{
							display: inline-block;
							margin: 0 45px 0 10px;
							text-align:center;
							&:first-child{
								margin: 0 0 0 19px;
							}
							&:last-child{
								margin-left: -28px;
							}
						}
					}
					label{
						&.radio-brand{
							display: inline-block;
							margin-right: 43px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width:255px;
						}
						&.radio{
							margin: 0 28px 0px 0;
							&:last-child{
								margin-right: 0;
							}
						}
					}
				}
			}
			.radio{
				display: inline-block;
				margin: 3px 15px 0 0;
				padding: 0;
				width: 20px;
			}
		}
	}
	.modal-header {
		border-bottom: none;
		padding: 20px 20px 0 30px;
		h3{
			font-size: 22px;
			font-weight: bold;
			line-height: 23px;
		}
		.close, button.close:before, a.close:before{
			content: "\e616";
			color: $user_menu;
			display: inline-block;
			font-family: 'icons';
			font-size: 14px;
			opacity: 1 !important;
			position: absolute;
			speak: none;
			text-align: center;
			top: 4px;
		}
	}
	.modal-body {
		max-height: 800px;
		overflow: visible;
		padding: 25px 30px 22px 30px;
		h3{
			font-size: 22px;
			font-weight: bold;
		}
		&.help{
			.help-title{
				p{
					margin-bottom: 60px;
					max-width: 500px;
				}
			}
			.help-title-map{
				display: none;
				margin-bottom: 20px;
			}
		}
		.help-item{
			display: block;
			float: left;
			height: auto;
			width: 100%;
			&.overview, &.support {
				margin-bottom: 50px !important;
			}
			&.faqs{
				display:none;
			}
			.assistly-widget{
				float: right;
			}
			.help-name{
				font-size: 16px;
				font-weight: bold;
			}
			p{
				float: left;
				margin: 10px 30px 0 0;
				width: 250px;
			}
			.btn{
				float: right;
				height: 40px;
				line-height: 40px;
				padding: 0;
				width: 120px;
				&.btn-chat{
					display: none;
				}
			}
		}

		input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"]{
			background-color: white !important;
			//background-image: none !important;
			box-shadow: none;
			font-family: $baseFontFamily;
			margin-bottom: 0;
			//padding-left: 10px;
			width: 100%;
		}
		textarea{
			background-color: white !important;
			background-image: none !important;
			box-shadow: none;
			font-family: $baseFontFamily;
			font-size: 13px;
			height: 136px;
			margin-bottom: 0;
			padding-top: 9px;
			width: 100%;
			&.input-large{width:210px;}
			&.input-xlarge{width:100%;}
			&.input-xxlarge{width:540px;}
			&.valid{
				color: $text;
				font-size: 13px;
			}
		}
		.large-inputs{
			.control-group{
				textarea{
					width: 100%;
				}
			}
		}
		input:-moz-placeholder,
		textarea:-moz-placeholder {
			color: $user_menu;
			font-weight: normal;
		}
		input:-ms-input-placeholder,
		textarea:-ms-input-placeholder {
			color: $user_menu;
			font-weight: normal;
		}
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
			color: $user_menu;
			font-weight: normal;
		}
		.control-group{
			display: inline-block;
			width: 100%;
			.control-group{
				margin-bottom: 0;
			}
			&.hidden{
				display: none;
			}
			input{
				width: 100%;
			}
			label:not(.checkbox){
				margin-bottom: 2px;
			}
			&.location, &.password {
				width: 99,8%;
			}
			.segment-total {
				display: none;
			}
		}
		.control-group.event_start_date,
		.control-group.event_end_date {
			margin-right: 17px;
		}
		.controls{
			input{
				width: 100%;
				&[type="text"]{
					color: $text;
					&.default{
						color: $silver;
					}
					&.search-place-box {
						padding-right: 30px;
					}
				}
			}
			.input-append {
				margin-right: 10px;
				input {
					width: 176px;
				}
			}
		}
		// ERROR STATE FOR INPUTS
		.error{
			.controls{
				input[type="text"], input[type="email"]{
					border: 1px solid $buttons !important;
				}
				.chzn-single{
					border: 1px solid $buttons !important;
				}
				.chzn-drop{
					input[type="text"]{
						border: 0 !important;
					}
				}
			}
		}
		label{
			color: $brand;
			font-size: 12px;
		}
		.to{
			color: $brand;
			float: left;
			padding: 32px 7px 0 0;
			text-align: center;
			width: 37px;
		}
		.span6{
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;
			width: 47.2%;
			.control-group:last-child{
				margin: 0;
			}
		}
		input.search-box {
			@include box-sizing(border-box);
			background-image: image-url('search2.svg') !important;
			background-position: center right;
			background-repeat: no-repeat;
			-webkit-border-radius: 20px;
			border-radius: 20px;
			padding-left: 16px;
			padding-right: 16px;
			width: 100%;
			&.places-autocomplete {
				padding-left: 8%;
				width: 385px !important;
			}
		}
	}
}

.control-group{
	&.event_start_date, &.event_start_time, &.event_end_date, &.event_end_time, &.campaign_start_date, &.campaign_end_date{
		.controls{
			width: 120px;
		}
	}
	&.visit_event_start_date, &.visit_event_end_date{
		margin-right: 0 !important;
		.controls{
			width: 100%;
			.event_start_date, .event_end_date{
				margin-right: 17px;
				width: 120px;
			}
			.event_start_time, .event_end_time{
				width: 120px;
			}
		}
	}
}

.divider{
	color:$user_menu;
	font-size: 16px;
	margin: 40px 0;
	text-align: center;
}


// ERROR
.control-group.error{
	.control-label{
		color:$brand;
		display: inline-block;
	}
	.help-inline {
		color:$buttons;
		font-size: 11px;
		line-height: 31px;
	}
}


// VALID

.valid{
	color: $primary-green;
	font-size: 11px;
	margin-bottom: 2px;
}
textarea.valid {
	color: $text;
	font-size: 13px;
}

.modal-footer{
	background-color: white;
	border:0;
	padding: 0px 14px 20px 30px;
	a{
		float: left;
		&.btn:first-child, &.btn+.btn{
			line-height: 40px;
			margin-right: 8px;
			padding: 0;
			height: 40px;
			width: 154px;
		}
	}
}

div#spin{
	background-color: red !important;
}

/* -- HELP CHAT SUPPORT CENTER -- */

.fancybox-type-iframe .fancybox-inner{
	height: auto;
	width: 520px !important;
}

.fancybox-skin{
	width: auto !important;
}

/* ESTO ME DEFORMA TODO */

.fancybox-wrap.fancybox-type-iframe{
	top: 10%;
	width: 545px !important;
}


.assistly-widget a {
	background-position: 2px 0 !important;
	display: block;
	height: 45px !important;
	width: 125px !important;
	overflow: hidden;
}

.assistly-widget a:hover {
	background-position: 2px -44px !important;
}

/*-- MODAL FOR SHARE -- REPORTT BUILDER --*/


.share-option{
	margin-bottom:35px;
	position: relative;
	label{
		&.collection_radio_buttons{
			color: $text;
			font-size: 16px;
			display:inline-block !important;
			margin-left: 40px;
		}
	}
	.control-group{
		margin-top: 8px;
		margin-left: 40px;
		margin-bottom: 0;
		.chzn-container-multi{
			.chzn-choices, .chzn-drop, .chzn-results{
				width: 440px !important;
			}
			.chzn-drop{
				top: 38px !important;
			}
			.chzn-choices{
				background: image-url('arrow.svg') no-repeat right !important;
				padding-top: 3px !important;
				padding-bottom: 3px !important;
				li.search-choice{
					background-image: none !important;
					background-color: $brand !important;
					color: white !important;
					.search-choice-close{
						background: image-url('cross.png') no-repeat right !important;
						top: 5px !important;
						right: 4px !important;
					}
				}
			}
		}
	}
	div.option-help{
		color: $user_menu;
		font-size: 13px;
		display: block !important;
		margin-left:40px;
	}
	.radio{
		top: 9px;
		position: absolute;
	}
	.chzn-container-multi .chzn-choices {
		height: auto !important;
	}
}

.select2-drop.select2-dropdown{
	ul{width: 100%;}
	border-radius: 4px;
	border: 1px solid $gray !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	.select2-results{
		color: $user_menu;
		border-radius: 0;
		width: 100% !important;
		li{
			width: 100%;
		}
		background-color: rgb(54, 54, 54);
		.select2-results-selectable{
			width: 90%;
			border-radius: 4px;
		}
		.select2-highlighted {
			background-color: #252525;
			color: white;
		}
	}
}

.places-modals{
	.search-place{
		margin-bottom: 20px;
	}
}

.video-modal{
	height:360px;
	width:640px;
	&.modal{
		background-color: transparent !important;
		border:0;
		-webkit-box-shadow:none;
		box-shadow: none;
	}
	.modal-body{
		padding:0;
	}
	.modal-header{
		position:relative;
		h3 { display: none; }
		a.close{
			right: 16px;
			top: 0;
			z-index: 99999;
			&:before{
				content:"";
				background: image-url('close-video.png') no-repeat right !important;
				height: 30px;
				width: 30px;
			}
		}
	}
	.modal-content, .modal-dialog, .modal-header, .modal-body{
		background-color:transparent;
		-webkit-border-radius:0;
		border-radius:0;
		box-shadow:0;
	}
	.modal-footer{
		background-color:transparent;
		-webkit-box-shadow: none;
		box-shadow:0;
	}
	button.close{
		color: $brand !important;
		right: 10px;
		&:after{
			opacity:0;
		}
		&:before{
			color: $brand;
		}
		&:focus{
			outline: none;
		}
	}
}

.modal-backdrop, .modal-backdrop.fade.in{
	background-color: #252525;
	opacity: 0.9;
	z-index: 999999;
}


/* Sidebar setting filters dialogue box */

.settings-filters{
	.row{
		margin-left: 0;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.modal-body{
		ul{
			list-style: none;
			margin-left: 0;
			li{
				margin-bottom: 10px;
				label{
					color: $text;
					font-size: 12px;
					.checker{
						margin-right: 10px;
					}
				}
				.icon-trash{
					font-size: 14px;
					color: $brand;
					&:hover{
						color: $gray;
					}
				}
			}
		}
		.filter-item{
			margin-left: 0;
		}
		.saved-filters{
			margin-top: 20px;
			.default-filters-text {
				width: 150px;
			}
		}
	}
}

// Event Details Expenses Modal
// --------------------------------------------------

.eventexpense_modal{
	width: 660px;
	.expense-info-form{
		display: inline-block;
		position: relative;
		width: 100%;
		.checker{
			display: inline-block !important;
			span.checked:after{
				top: 6px;
			}
		}
		.expense-fields-wrapper {

			position: relative;
			.receipt-wrapper, .attachment-panel {
				position: absolute;
				top: 0;
				bottom: 0;
				height: 100%;
				width: 300px;
			}
			.attachment-panel {
				.attachment-select-file-view {
					padding-top: 110px;
				}
				.drag-box {
					line-height: 90px;
					p {
						font-size: 12px;
						line-height: 17px;
					}
					.icon-upload:before {
						top: -16px;
					}
				}
			}
		}
		#expense-fields {
			.split-expense {
				margin-bottom: 10px;
				.split-expense-link {
					background: none!important;
					border: none;
					color: $primary-blue;
					cursor: pointer;
					outline: none;
					padding: 0!important;
				}
			}
		}
		.inputs-side {
			width: 60%;
			.control-group{
				display:block;
				input[type="text"]{
					width: 90%;
				}
				&.event_expense_amount{
					label{
						display: none;
					}
				}
				&.event_expense_brand_id{
					margin-bottom: 20px;
					width: 90%;
				}
			}
		}
	}
	.expense-file-form {
		top:0;
		right:0;
		position:absolute;
		width:40%;
		.control-group{
			width: 100%;
		}
	}
	.form-actions{
		display: inline-block;
		&.inside-form{
			margin-bottom:10px;
		}
	}
}

.spliteventexpense_modal {
	margin-left: -400px !important;
	width: 930px;
	.add_nested_fields {
		float: right;
  		position: relative;
  		bottom: 42px;
  		right: -5px;
  		font-size: 22px;
  		color: $silver;
	}
	.form-inputs {
		display: table;
		table-layout: fixed;
		width: 100%;
		.expense-item {
			display: table-row;
			.control-group {
				display: table-cell;
				position: relative;
				padding-left: 10px;
				&:nth-child(1) { width:120px; padding-left: 0px; }
				&:nth-child(2) { width:220px; }
				&:nth-child(3) { width:220px; }
				&:nth-child(4) { width:120px; }
				&:nth-child(5) { width:100px; }
				&:nth-child(6) { width:60px; padding-top: 15px; }
				input.currency { width:80px; }
				input.amount-percentage { width:55px; }
			}
		}
	}
	.expenses-list > .fields {
		&:nth-child(1), &:nth-child(2) {
			.remove_nested_fields {
				display:none;
			}
		}
	}
	.split-expense-form{

		.form-inputs{
			.percent-field{
				margin-left: 80px;
			}
			.controls{
				input{
					&.amount-currency, &.amount-percentage{
						text-align: right;
					}
				}
			}
			.remove-expense {
				vertical-align: middle;
				.icon {
					color: $silver;
					font-size: 22px;
				}
			}
			.error .help-inline {
				display: none !important;
			}
		}
		.split-evenly-btn {
			margin-bottom: 20px;
		}
		.expense-total{
			border-top: 1px solid $silver;
			font-size: 16px;
			font-weight: bold;
			margin-top: 15px;
			padding-top: 15px;
			.total-label{
				color: $brand;
			}
			.total-amount{
				color: $gray-dark;
				&.text-error {
					color: $primary-red;
				}
			}
			.left-amount{
				font-weight: normal;
				color: $silver;
				span {
					font-weight: bold;
				}
			}
			.row-fluid [class*="span"] {
				min-height: 20px;
			}
		}
	}
}

// Activities Modal
// --------------------------------------------------

.activity-form{
	.form_field_section{
		margin-top: 10px;
	}
	a{
		&.icon-download{
			color: $brand;
			font-family: $baseFontFamily;
			font-size: 12px;
			text-decoration: none;
			&:before {
				font-family: 'icons';
				font-size: 14px;
				margin-right: 8px;
				margin-bottom: 15px;
			}
		}
	}
	.resource-list{
		.resource-item{
			.resource-item-link{
				font-size: 15px;
				font-weight: bold;
			}
		}
	}
}

// Custom Filter Modal
// --------------------------------------------------

.customfilter_modal {
	.custom-filter-option {
		margin-bottom: 15px;
		label {
			&.radio {
				display: inline-block;
				margin-top: 7px;
				vertical-align: top;
			}
		}
		.form-inputs {
			display: inline-block;
			width: 85%;
			label.filter_option {
				font-size: 14px;
				font-weight: bold;
				margin: 0;
			}
		}
	}
}

.new_category_bt {
	border-top: 1px solid $brand;
	text-align: center;
	color: $brand;
	font-size: 12px;
	&:before{
		content: "\e61d";
		font-family: 'icons';
		padding-right: 5px;
		font-size: 14px;
		vertical-align: middle;
	}
}

// Add Staff Modal
// --------------------------------------------------

.members-form {
	.resource-list {
		.resource-item {
			padding: 13px 10px;
			.resource-item-link {
				color: $gray-dark;
				display: flex;
				font-size: 16px;
				font-weight: bold;
				position: relative;
				.user-type {
					background-color: $silver;
					color: $white;
					display: inline-block;
					@include border-radius(22px);
					height: 44px;
					left: 0;
					line-height: 52px;
					margin-right: 15px;
					overflow: hidden;
					position: relative;
					text-align: center;
					width: 44px;
					i:before {
						font-size: 25px;
					}
				}
				.info {
					width: 67%;
				}
				.input {
					position: absolute;
					top: 30%;
					width: 20%;
				}
				.description {
					color: $brand;
					font-size: 12px;
					font-weight: normal;
					margin: 0;
					padding: 0;
					width: 50%;
				}
				div.checker {
					border-radius: 12px;
					margin: 0px 15px 5px 0px;
					span {
						background-color: $white;
						&.checked {
							background-color: $green !important;
							&:after {
								top: 10px;
							}
						}
					}
				}
			}
		}
		&.select-list {
			height: 257px;
			border-width: 1px;
			.resource-item {
				border-left: 0px;
				border-right: 0px;
			}
		}
	}
}

.gallery-modal .gallery-modal-inner {
  position: absolute;
  height: 100%!important;
  width: 100%!important;
}

.gallery-modal.modal.hide.fade.in {
  top: 0px!important;
  width: 100%!important;
  height: 100%!important;
  margin-left: -50%!important;
}


.gallery-modal .slider {
  height: 100%!important;
}

.gallery-modal .panel {
  height: 100%!important;
}

.gallery-modal .slider {
  width: calc(100% - 380px) !important;
}

#event-expenses-container .gallery-modal .slider {
  width: 100% !important;
}

