.js-sortable { 
  thead th {
    cursor: pointer;
    position: relative;
    &.sorting-asc, &.sorting-desc { 
      &:after {
        content:"\e607";
        font-family: 'icons';
        font-style: normal;
        position: absolute;
        top: 10px;
        margin-left: 10px;
      }
      &.sorting-asc {
        &:after {
          content:"\e610";
          top: 5px;
        }
      }
    }
  }
}

.campaigns.show #fields-wrapper-affix.fields-wrapper.affix {
  position: fixed;
  overflow: visible;
  bottom: 20px;
  z-index: 99;
  right: 250px;
  min-height: 85%;
}

.campaigns.show #form-field-accordion {
  overflow: auto;
  height: 200%;
}

.campaigns.show #fields-wrapper-affix.fields-wrapper {
  height: auto;
}

.activity_types.show #fields-wrapper-affix.fields-wrapper.affix {
  position: fixed;
  overflow: visible;
  bottom: 20px;
  z-index: 99;
  right: 250px;
  min-height: 85%;
}

.activity_types.show #form-field-accordion {
  overflow: auto;
  height: 200%;
}

.activity_types.show #fields-wrapper-affix.fields-wrapper {
  height: auto;
}