- campaigns.each do |campaign|
  .span5.campaign.clearfix.hover-item id="campaign-#{campaign.id}"
    .pull-left
      .rounded-icon.pull-left
        i.icon-wired-mapa
      .module-item
        = campaign.name
    .pull-right
      = link_to '', remove_campaign_company_user_path(campaign, company_user_id: resource.id), method: :delete, remote: true, class: 'icon-remove-circle', title: 'Remove Campaign'