/ / CAMPAIGNS ASSIGNED TO THE USER DIRECTLY
/ .campaigns-group
/   .campaigns-group-body
/     .row-fluid.campaigns-list id="campaigns-company_user-#{resource.id}"
/         = render partial: 'company_users/campaign', collection: resource.campaigns, locals: {parent: nil}


/ CAMPAIGNS GROUPED BY BRAND
#company_user-campaigns-list
  - brands_campaigns_list.each do |parent, info|
    = render partial: 'campaign_list', locals: {parent: parent, enabled: info[:enabled], campaigns: info[:campaigns]}
.row-fluid.plus
  .dropdown.add_menu
    a.dropdown-toggle href="#" data-toggle="dropdown" data-target="#" title="Add Campaign"
      i.icon.icon-plus-sign-clear
      | Add Campaign
      i.icon-arrow-down-small
    ul.dropdown-menu.download-options-menu role="menu" aria-labelledby="dLabel"
      li
        = link_to 'Add Campaigns', select_campaigns_company_user_path(resource), id: 'add-campaign-btn', remote: true, method: :get
      li
        = link_to 'Add Brands/Brand Portfolios', select_brands_and_brand_portfolios_company_user_path(resource), id: 'add-brand-btn', remote: true, method: :get
- if can?(:edit, resource)
  javascript:
    $(document).delegate('.toggle-off-btn', 'click', function(e){
      $(this).parent().addClass('active').removeClass('deactive');
      $.post('#{enable_campaigns_company_user_path(resource)}', {parent_id: $(this).data('parent-id'), parent_type: $(this).data('parent-type')});
      return false;
    });
    $(document).delegate('.toggle-on-btn', 'click', function(e){
      $(this).parent().addClass('inactive').removeClass('active');
      $.post('#{disable_campaigns_company_user_path(resource)}', {parent_id: $(this).data('parent-id'), parent_type: $(this).data('parent-type')});
      return false;
    });


/ Markup for new design
- if false
  .details_box.user-view
    .user-data
      h3 CAMPAIGNS

      .items-container
        .box.special-icon.brand-icon
          b example one - brand icon

        .box.special-icon.brand-icon
          b Absolut Bloody Incremental FY14

        .box.special-icon.brand-icon
          b Absolut Texas Incremental Mini

        .box.special-icon.brand-icon
          b Jameson Black Barrel Summer MBN FY14

        .box.special-icon.brand-icon
          b Jameson FY14

        .box.special-icon.brand-icon
          b example one - brand icon

      .items-container
        .box.special-icon.campaign-icon
          b example one - campaign icon

        .box.special-icon.campaign-icon
          b example one - campaign icon

        .box.special-icon.campaign-icon
          b Jameson MBN FY14

        .box.special-icon.campaign-icon
          b example one - campaign icon

        .box.special-icon.campaign-icon
          b Kahla BA Incremental

        .box.special-icon.campaign-icon
          b example one - campaign icon

      = link_to "Add campaigns"