.span4.place.clearfix.hover-item id="company_user-place-#{place.id}"
  .pull-left
    .rounded-icon.pull-left
      i.icon-venue menubar-icon
    .place-name
      = place.name
    .place-address
      = place.formatted_address
  .pull-right
    = link_to '',  company_user_place_path(resource, place), method: :delete, remote: true, class: 'icon-remove-circle', title: 'Remove Place'