/#user-campaigns-list.resource-list.select-list
  - @campaigns.each do |campaign|
    .resource-item id="campaign-#{campaign.id}"
      .resource-item-link
        .text-large= campaign.name
        = campaign.description
      .resource-item-actions
        = link_to '', add_campaign_company_user_path(resource, parent_id: params[:parent_id], parent_type: params[:parent_type], campaign_id: campaign.id), remote: true, method: :post, data: {disable_with: '...'}, class: 'icon-plus-sign', title: 'Add Campaign'

#form-container
  .members-form
    = simple_form_for resource, url: url_for(controller: params[:controller], action: 'select_campaigns'), method: :post, remote: true do |f|
      .staff-table
        .row-fluid.scroll-table-header
          input#campaign-search-box.search-box.select-list-seach-box type="text" name="q" data-list="#user-campaigns-list" placeholder="Search for campaigns..."
        #user-campaigns-list.resource-list.select-list.single-line.select-list-input
          - @campaigns.each do |campaign|
            .resource-item id="campaign-#{campaign.id}"
              = label_tag nil, nil, class: 'radio resource-item-link'
                .user-type
                    i.icon-user
                .info
                  .text-large = campaign.name
                  campaign.description
                .input
                  = check_box_tag "new_campaigns[]", "#{campaign.id}", false, id: "new_campaigns_#{campaign.id}"
        #empty-list.resource-list.select-list.hide
          == "No results found for \"<span id=\"search-text\"></span>\""
      .form-actions
        = f.button :submit, 'Add Campaigns', id: 'save-campaigns-btn', class: 'btn btn-primary', data: {disable_with: 'Please wait...'}
        = "&nbsp;".html_safe
        = f.button :button, 'Cancel', class: 'btn btn-cancel'

javascript:
  $('#campaign-search-box').on('keyup', function () {
    var value = $(this).val().toLowerCase();
    $("#user-campaigns-list .resource-item").each(function () {
      if ($(this).text().toLowerCase().search(value) > -1) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
    $('#user-campaigns-list').show();
    if ($("#user-campaigns-list .resource-item:visible").length > 0) {
      $("#user-campaigns-list .resource-item:visible").first().css('border-top', 0);
      $('#empty-list').hide();
    } else {
      $('#user-campaigns-list').hide();
      $('#search-text').text($(this).val());
      $('#empty-list').show();
    }
  });

  $('.resource-item-link').on('click', function () {
    var len = $("#user-campaigns-list input[name='new_campaigns[]']:checked").length;
    var text = len == 1 ? ' Campaign' : ' Campaigns';
    len = len == 0 ? '' : len;
    $("#save-campaigns-btn").val('Add ' + len + text);
  });

  $(".modal").on('hide', function () {
    $(".modal").remove();
  });