#form-container
  .members-form
    = simple_form_for resource, url: url_for(controller: params[:controller], action: 'select_brands_and_brand_portfolios'), method: :post, remote: true do |f|
      .staff-table
        .row-fluid.scroll-table-header
          input#brand_and_portfolio-search-box.search-box.select-list-seach-box type="text" name="q" data-list="#user-brand-and-portfolios-list" placeholder="Search for brand-and-portfolios..."
        #user-brand-and-portfolios-list.resource-list.select-list.single-line.select-list-input
          - @brands_and_brand_portfolios.each do |item|
            .resource-item id="brand-and_portfolio-#{item[:data].id}"
              = label_tag nil, nil, class: 'radio resource-item-link'
                .user-type
                  - if item[:type] == 'brand'
                    i.icon-user
                  -else
                    i.icon-team
                .info
                  .text-large = item[:data].name
                  - if item[:type] == 'portfolio'
                    data.description
                .input
                  - if item[:type] == 'brand'
                    = check_box_tag "new_brands[]", "#{item[:data].id}", false, id: "new_brand_and_portfolios_#{item[:data].id}"
                  -else
                    = check_box_tag "new_brand_portfolios[]", "#{item[:data].id}", false, id: "new_brand_and_portfolios_#{item[:data].id}"
        #empty-list.resource-list.select-list.hide
          == "No results found for \"<span id=\"search-text\"></span>\""
      .form-actions
        = f.button :submit, 'Add Brand/Brand Portfolio', id: 'save-brand-and-portfolios-btn', class: 'btn btn-primary', data: {disable_with: 'Please wait...'}
        = "&nbsp;".html_safe
        = f.button :button, 'Cancel', class: 'btn btn-cancel'

javascript:
  $('#brand_and_portfolio-search-box').on('keyup', function () {
    var value = $(this).val().toLowerCase();
    $("#user-brand-and-portfolios-list .resource-item").each(function () {
      if ($(this).text().toLowerCase().search(value) > -1) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
    $('#user-brand-and-portfolios-list').show();
    if ($("#user-brand-and-portfolios-list .resource-item:visible").length > 0) {
      $("#user-brand-and-portfolios-list .resource-item:visible").first().css('border-top', 0);
      $('#empty-list').hide();
    } else {
      $('#user-brand-and-portfolios-list').hide();
      $('#search-text').text($(this).val());
      $('#empty-list').show();
    }
  });

  $('.resource-item-link').on('click', function () {
    var len = $("#user-brand-and-portfolios-list input[name='new_brand_portfolios[]']:checked").length + $("#user-brand-and-portfolios-list input[name='new_brands[]']:checked").length;
    var text = len == 1 ? ' Brand/Brand Portfolio' : ' Brand/Brand Portfolios';
    len = len == 0 ? '' : len;
    $("#save-brand-and-portfolios-btn").val('Add ' + len + text);
  });

  $(".modal").on('hide', function () {
    $(".modal").remove();
  });