|
  bootbox.classes('modal-large');
  var selectCampaignsDialog = bootbox.dialog($('#{escape_javascript(render "select_brands_and_brand_portfolios")}'), [],{header: 'Add Brand/Brand Portfolio', 'onEscape': true, animate: (!$.fx.off)});
