.row-fluid.with-details-close-bar
  = resource_details_bar("Viewing User details. Click to close.")

  .details_box.user-view.padding-top-close-bar
    .basic-info
      - if false
        .profile-pic.big.icon-user.dropdown-toggle class="#{ resource.avatar.present? ? '' : '.no-pic'}" data-toggle="dropdown"
          - if resource.avatar.present?
            img alt="Brandscopic" border="0" src="#{root_url}#{image_path('profile-pic.jpg')}"
        .dropdown-menu.edit-profile-pic
          ul
            li
              a href="#" Upload photo
            li
              a href="#" Take photo
            li
              a href="#" Cancel

      .profile-info
        .details-main-title
          h2.special.pull-left = resource.full_name
          .edition-links
            = button_to_edit resource if can?(:edit, resource)
            = button_to_activate_or_deactivate(resource) if can?(:deactivate, resource) && !viewing_profile?

        - if resource.role.present?
          .user-role.label.label-default
            = link_to_if can?(:show, resource.role), resource.role.name, role_path(resource.role)

    - if resource.teams.any?
      .team-assigned
        i.icon-team
        - resource.teams.pluck(:name).each do |team_name|
          .label.label-team
            i.icon-team
            = team_name

    .aditional-info
      - if resource.email.present?
        .email-data
          i.icon-wired-email
          = resource.email

      - if resource.phone_number.present?
        .phone-data
          i.icon-mobile
          .number
            = resource.phone_number
          - if resource.user.phone_number_verified?
            .verified
              i.icon-checked
              p Verified!
          - elsif viewing_profile?
            .verify
              = link_to 'Get Verified', send_code_company_user_url(resource), class: "special", remote: true

            .info
              a.icon-info.has-tooltip href="#" title="Before Brandscopic can send you SMS alerts, we need to verify that you own the phone number you entered.  Brandscopic will only use this number to send you SMS alerts and we will never share your number with other companies or use it for marketing purposes. Standard text messaging rates may apply."

      - if resource.full_address.present?
        .place-data
          i.icon-wired-venue
          span
            = resource.full_address separator: ', '

      - if resource.time_zone
        .calendar-data
          i.icon-time
          span
            - zone = ActiveSupport::TimeZone.new(resource.time_zone)
            = "(#{zone.formatted_offset}) #{zone.name}"

    // The is info will be displayed on the fixed bar when the window is scolled down to this position
    .details-bar-info
      span.primary-info
        = resource.full_name
      = button_to_edit resource if can?(:edit, resource)
      = button_to_activate_or_deactivate(resource) if can?(:deactivate, resource) && !viewing_profile?


  - unless viewing_profile?
    #user-campaigns.details_box
      h5.module-title CAMPAIGNS
      = render 'campaigns'


  - unless viewing_profile?
    #user-places.details_box
      = render 'areas_and_places'

    .communication-settings
      = render 'notifications_settings'

    #user-goals.details_box
      = link_to 'Add Goal', new_company_user_goal_path(resource), remote: true, class: 'btn btn-primary btn-add-goal' if can?(:edit, resource)
      #resource-goals-list.resource-list
       = render partial: 'goals/goal', collection: resource.goals.base, locals: {parent: resource}

  .communication-settings
    = render 'notifications_settings' if viewing_profile?


= render partial: 'help_tutorial'

- reload_page_on_edit_resource
